# package Control
Package Control.sublime-settings
Package Control.cache
Package Control.last-run
Package Control.system-ca-bundle

sftp_servers/
GitHub.sublime-settings

# packages
coffee-script-tmbundle
SublimeCodeIntel/
Djaneiro/
jQuery/

#tmp files
.DS_Store