[submodule "Djaneiro"]
	path = Djaneiro
	url = https://github.com/squ1b3r/Djaneiro.git
[submodule "CoffeeScript"]
	path = CoffeeScript
	url = https://github.com/jashkenas/coffee-script-tmbundle.git
[submodule "jQuery"]
	path = jQuery
	url = https://github.com/mrmartineau/jQuery.git
[submodule "CodeIntel"]
	path = CodeIntel
	url = git://github.com/Kronuz/SublimeCodeIntel.git
